<section id="contact" class="overlay">
  <div class="overlay"></div>
  <div class="content">
    <h1 class="headline title-dark">{{ site.data.content.contact.contactUs }}</h1>
    <div id="calendar">
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hola%40followthewhitesquirrel.ca&amp;color=%23B1365F&amp;ctz=America%2FToronto" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="form">
      <form id="contact-form">
        <div class="form-field">
          <label for="products">{{ site.data.content.contact.interestedIn }}</label>
          <div class="products">
            <div>
              <label for="hiking">{{ site.data.content.contact.hiking }}</label>
              <input type="checkbox" name="hiking">
            </div>
            <div>
              <label for="camping">{{ site.data.content.contact.camping }}</label>
              <input type="checkbox" name="camping">
            </div>
            <div>
              <label for="camping">{{ site.data.content.contact.custom }}</label>
              <input type="checkbox" name="custom">
            </div>
          </div>
        </div>
        <div class="form-field">
          <label for="name">{{ site.data.content.contact.name }}</label>
          <input type="text" name="name">
        </div>
        <div class="form-field">
          <label for="email">{{ site.data.content.contact.email }}</label>
          <input type="email" name="email">
        </div>
        <div class="trip-dates">
          <div class="form-field" id="departure-date">
            <label for="departure-date">{{ site.data.content.contact.departure }}</label>
            <input type="text" name="departure-date" class="date-picker">
          </div>
          <div class="form-field" id="return-date">
            <label for="return-date">{{ site.data.content.contact.return }}</label>
            <input type="text" name="return-date" class="date-picker">
          </div>
        </div>
        <div class="form-field">
          <label for="message">{{ site.data.content.contact.message }}</label>
          <textarea name="message"></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="{{ site.data.content.contact.submit }}" class="button purple">
        </div>
      </form>
    </div>
  </div>
</section>