<footer id='footer'>
  <div class="overlay"></div>
    <div class="content">
      <div class="contact-info">
        <p class="social-media">
          <a href={{ site.data.content.footer.facebook }}><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href={{ site.data.content.footer.instagram }}><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </p>
        <p><a href="mailto:{{site.data.content.footer.email}}">{{ site.data.content.footer.email }}</a></p>
        <p>{{ site.data.content.footer.phone_en }} for English or {{ site.data.content.footer.phone_es }} for Spanish</p>
        <small>Copyright 2017</small>
      </div>
    </div>
</footer>