<div class="header">
  <div class="logo">
    <img src="{{ '/assets/images/fws_logo.png' | prepend: site.github.url }}" alt="logo">
    <div class="company-name">
      <div class="emphasize">Follow the White Squirrel</div>
      <div>Nature tours in Ontario</div>
    </div>
  </div>

  <div class="languages">
    <a href="{{ site.baseurl }}/" id='en'>
      <span class="flag-icon flag-icon-ca"></span>
    </a>
    <a href="{{ site.baseurl }}/es" id="es">
      <span class="flag-icon flag-icon-es"></span>
    </a>
  </div>
</div>